.form-wrapper {
        clear:both;
        width:500px;
        border:1px solid #e5e5e5;
        background:#fdfdfd url(../images/form-pattern.png) repeat scroll 0 0;
        -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
        padding:8px;
        padding-left:10px;
        margin-left: 50px;
        margin-top:20px;
        margin-bottom:20px;
        overflow:hidden;
        position:relative;
}


input#name, input#email {
        width:230px;
        height:38px;
        padding:10px 0 10px 15px;
        margin-bottom:8px;
        border:1px solid #e5e5e5;
        font-size:14px;
        float:left;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
}

input#subject {
        width: 468px;
        height:38px;
        padding:10px 0 10px 15px;
        margin-bottom:8px;
        border:1px solid #e5e5e5;
        font-size:14px;
        float:left;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
}


input#name {
	margin-right:8px;
}


input#verify {
        width:58px;
        height:38px;
        padding:10px 0 10px 15px;
        border:1px solid #e5e5e5;
        font-size:14px;
        float:left;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
}


input#submit, input#ssubmit {
	position:relative;
	border-radius: 2px 2px 2px 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        box-shadow: #e3e3e3 0 1px 1px;
        -moz-box-shadow:
                0px 1px 1px rgba(000,000,000,0.1),
                inset 0px 1px 1px rgba(255,255,255,0.7);
        -webkit-box-shadow:
                0px 1px 1px rgba(000,000,000,0.1),
                inset 0px 1px 1px rgba(255,255,255,0.7);
        font-size: 14px;
        float:right;
        margin-left: 6px;
        padding:0 10px;
        height:40px;
        cursor:pointer;
        line-height:36px;
        behavior: url(PIE.htc);
}


input#ssubmit {
        width:118px;
}

textarea#comments {
	width:468px;
        height:100px;
        padding:10px 15px;
        margin-bottom:8px;
        border:1px solid #e5e5e5;
        font-size:14px;
        float:left;
        resize: none;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
}

#captcha {
        float:left;
        position:relative;
        padding-left:12px;
}


#captcha span {
        float:left;
        height:38px;
        line-height:38px;
        margin-right:10px;
        font-size:14px;
}


input,textarea {
        font:inherit;
	resize:none;
	background:#fff;
	color:#a5a5a5;
}

[placeholder]:active,
[placeholder]:focus{
        cursor:text;
        color:#a5a5a5;
}




.orange {
        text-shadow: 1px 1px 0px #ffe8b2;
        color: #7c5d1b;
        border: 1px solid #d6a437;
        background: #febd4b; /*fallback for non-CSS3 browsers*/
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#fed970) to(#febd4b)); /*old webkit*/
        background: -webkit-linear-gradient(#fed970, #febd4b); /*new webkit*/
        background: -moz-linear-gradient(#fed970, #febd4b); /*gecko*/
        background: -ms-linear-gradient(#fed970, #febd4b); /*IE10*/
        background: -o-linear-gradient(#fed970, #febd4b); /*opera 11.10+*/
        background: linear-gradient(#fed970, #febd4b); /*future CSS3 browsers*/
        -pie-background: linear-gradient(#fed970, #febd4b);     /*PIE*/
}


.orange:hover {
        color: #7c5d1b;
        border: 1px solid #d6a437;
        background: #febd4b; /*fallback for non-CSS3 browsers*/
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#febd4b) to(#fed970)); /*old webkit*/
        background: -webkit-linear-gradient(#febd4b, #fed970); /*new webkit*/
        background: -moz-linear-gradient(#febd4b, #fed970); /*gecko*/
        background: -ms-linear-gradient(#febd4b, #fed970); /*IE10*/
        background: -o-linear-gradient(#febd4b, #fed970); /*opera 11.10+*/
        background: linear-gradient(#febd4b, #fed970); /*future CSS3 browsers*/
        -pie-background: linear-gradient(#febd4b, #fed970); /*PIE*/
}



