/** GENERAL **/
html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif!important;
}

body {
	font-family: Verdana, sans-serif; 
	font-size: 100%;
	font: 12px/20px 'CopseRegular', CopseRegular, Helvetica, Arial, sans-serif;
	background:url(../images/backgrounds/noise.png) repeat scroll 0 0;
	margin:0;
	padding:0;
	color:#818181;
}

.center {
	text-align: center;
}

.right{
	text-align: right;
}


.left{
	text-align: left;
}

.vertical-center {
	vertical-align: middle;
}

.link {
	cursor: pointer;
}

a {
	text-decoration: none;
}
	
a:hover {
	text-decoration:none!important;
}


/** COLOR **/
/*
blue = #1D0EEE
grey = #999
green = #4d944e;
*/

/*Typo*/
@font-face {
    font-family: 'noteworthy';
    src: url('../fonts/typo/noteworthy.ttc');
    font-weight: normal;
    font-style: normal;
}



/** WELCOME **/

#welcomeCity {
	margin-top: 9em;
	text-align:center;
}

#welcomeCity p {
	text-decoration: none;
	font-size: 26px;
	margin-top: -2%;
}

#wrapper {
	width:806px;
	margin:0 auto;
	padding:70px 0;
}

#wrapper header {
	margin-bottom: 25px;
  	margin-top: -10px;
}

#wrapper .copyright {
	margin-top: 40px;
  	font-size: 120%;	
}

#book {
	position:relative;
}

#book h3 {
	/*font-size: 2em;*/
	text-align: center;
	font-size: 18px;
  	margin-top: 0%;
  	margin-bottom: 4%;
}

.top-page {
	background:url(../images/top-paper.png) no-repeat left top;
	width:806px;
	height:24px;
	position:relative;
}

.content-page {
	background:url(../images/row.png) repeat-y left top;
	width:806px;
	height:470px;
	position:relative;
}

.bottom-page {
	background:url(../images/bottom-paper.png) no-repeat left top;
	width:806px;
	height:55px;
}

.top-spiral {
	position:absolute;
	background:url(../images/spiral.png) no-repeat scroll 0 0;
	width:38px;
	height:89px;
	left:-9px;
	top:61px;
}

.bottom-spiral {
	position:absolute;
	background:url(../images/spiral.png) no-repeat scroll 0 0;
	width:38px;
	height:89px;
	left:-9px;
	top:293px;
}

.row {
	width:100%;
	height:29px;
	clear:both;
}


/** HOME **/
#home{
	padding-top: 2%;
}

#staticHome{
	height: 92%;
}

#dynamicHome{
	height: 5%;
	margin-top: -10%;
	margin-bottom: 2%;
}

#home .city{
	font-size: 3em;
	padding-top: 5em;
}

#home .activity-img{
	margin-top: 9em;
}

#home .activity-img img{
	width: 275px;
}

#home .activity-text{
	color: #999;
}


/** HEADER **/
#header {
	height: 58px;
	width: 100%;
}

#header .logo img {
	height: 58px;
}

#headerTop{
	font-size: 1.7em;
	border-bottom: 1px;
	border-bottom-style: solid;
	padding: 0;
	height: 59px;
}

#headerTop div {
	padding: 0;
}

.headerRight{
	height: 74px!important;
	vertical-align: middle!important;
}

.headerRight .simple {
	padding-top: 19px;
	padding-bottom: 19px;
	border-left: 2px;
	border-left-style: solid;
}

.headerRight .middle{
	padding-top: 19px;
	padding-bottom: 19px;
	border-left: 2px;
	border-right: 2px;
	border-left-style: solid;
	border-right-style: solid;
}

.headerRight .double {
	padding-top: 5px;
	border-left-style: solid;
}

.fa-fw {
	text-align: center;
}

.navbar {
	height: 58px;
}


/** FOOTER **/
#footer{
	color: #999;
}

#footerTop, #footerMiddle{
	font-size: 1.5em;
}

#footerTop .left, #footerMiddle .left{
	padding-left: 1em;
}

#footerTop .right, #footerMiddle .right{
	padding-right: 1em;
}


/** MODAL **/
.modal-body {
	text-align: justify;
}

#modalInscription .modal-content{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif!important;
	height: 85%;
}

#modalInscription .modal-dialog{
	/*width: 800px;*/
	width: 50%;
}

#modalInscription .modal-title{
	font-size: 54px;
	font-family: "noteworthy"!important;
	color: #4d944e;
}

#inscriptionForm .right-modal{
	text-align: right;
	padding-right: 2em;
}

#modalInscription .modal-body{
	padding-top: 0px;
	height: 75%;
}

#modalInscription .form-group{
	padding-top: 2.5em;
}

#modalInscription .modal-footer{
	/*margin-top: 35px;*/
	margin-top: 0.2%;
}
#modalInscription .btn-check{
	background-color: #4d944e!important;
	color: white;
}



/* ProfileModal */
#modalProfile .modal-content{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif!important;
	height: 75%;
}

#modalProfile .modal-dialog{
	/*width: 800px;*/
	width: 62%;
}

#modalProfile .modal-title{
	font-size: 54px;
	font-family: "noteworthy"!important;
	color: #4d944e;
}

#profileForm .right-modal{
	text-align: right;
	padding-right: 2em;
}

#modalProfile .modal-body{
	padding-top: 0px;
	height: 70%;
}

#modalProfile .form-group{
	padding-top: 2.5em;
}

#modalProfile .modal-footer{
	/*margin-top: 35px;*/
	height: 1%;
}
#modalProfile .btn-check{
	background-color: #4d944e!important;
	color: white;
}




/* ConnectionModal */ 
#modalConnection .modal-content{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif!important;
	height: 48%;
}

#modalConnection .modal-dialog{
	width: 700px;
}

#modalConnection .modal-title{
	font-size: 54px;
	font-family: "noteworthy"!important;
	color: #4d944e;
}

#connectionForm .right-modal{
	text-align: right;
	/*padding-right: 3em;*/
	padding-right: 2em;
}

#modalConnection .modal-body{
	padding-top: 0px;
	height: 52%;
}

#modalConnection .form-group{
	padding-top: 2.5em;
}

#modalConnection .modal-footer{
	/*margin-top: 35px;*/
	/*height: 10%;*/
}
#modalConnection .btn-check{
	background-color: #4d944e!important;
	color: white;
}

/* Specific ForgotPass Button */
#modalConnection #forgotpasslink {
	/*text-align: center;*/
	padding-right: 41%;
}


/** SPECIFIC CSS **/
@media (max-width: 1300px){
	#headerTop{
		font-size: 1.4em;
	}
	.headerRight .simple {
		padding-top: 19px;
		padding-bottom: 19px;		
	}
	.headerRight .middle{
		padding-top: 19px;
		padding-bottom: 19px;
	}
	.headerRight .double {
		padding-top: 14px;
	}
	#home .city{
		padding-top: 3em;
	}
	#home .activity-img{
		margin-top: 4em;
	}
}


@media (max-width: 1200px){
	#headerTop{
		font-size: 1.4em;
	}
	.headerRight .simple {
		padding-top: 19px;
		padding-bottom: 19px;		
	}
	.headerRight .middle{
		padding-top: 19px;
		padding-bottom: 19px;
	}
	.headerRight .double {
		padding-top: 14px;
	}
	#home .city{
		padding-top: 3em;
	}
	#home .activity-img{
		margin-top: 4em;
	}
}



@media (max-width: 1060px){
	#headerTop{
		font-size: 1.3em;
	}
	.headerRight .simple {
		padding-top: 2.4%;
		padding-bottom: 2.4%;		
	}
	.headerRight .middle{
		padding-top: 19px;
		padding-bottom: 19px;
	}
	.headerRight .double {
		padding-top: 14px;
	}
	#home .city{
		padding-top: 3em;
	}
	#home .activity-img{
		margin-top: 4em;
	}
}

@media (max-width: 1050px){
	.headerRight .simple {
		padding-top: 19px;
		padding-bottom: 19px;		
	}
	.headerRight .middle{
		padding-top: 19px;
		padding-bottom: 19px;
	}
	.headerRight .double {
		padding-top: 14px;
	}
}	


/*@media (max-width: 10px){
	.headerRight .simple {
		padding-top: 9px;
		padding-bottom: 9px;		
	}
	.headerRight .middle{
		padding-top: 19px;
		padding-bottom: 19px;
	}
}*/


@media (max-width: 1016px){
	#headerTop{
		font-size: 1.2em;
		padding: 0;
	}

	.headerRight .simple {
		padding-top: 19px;
		padding-bottom: 19px;		
	}
	.headerRight .middle{
		padding-top: 19px;
		padding-bottom: 19px;
	}
}

@media (max-width: 992px){
	#headerTop .logo img {
		float: none;
	}
	#headerTop{
		font-size: 1.2em;
		padding: 0;
	}
	.headerRight .simple {
		padding-top: 33px;
		padding-bottom: 33px;
		border-top: 1px;
		border-top-style: solid;
		border-left: solid;
	}
	.headerRight .middle{
		padding-top: 33px;
		padding-bottom: 33px;
		border-top: 1px;
		border-top-style: solid;
	}
	.headerRight .double {
		padding-top: 33px;
		border-top: 2px;
		border-top-style: solid;
	}
	#home .activity-img{
		margin-top: 2em;
	}
	#footerTop, #footerMiddle{
		font-size: 1.5em;
	}
	#footerBottom{
		padding-top: 15px;
	}
	#dynamicHome {
		margin-top: -95px;
	}
	#book {
		max-width: 650px;
	}
	#book .presentation {
		margin-left: 10%;
	}
	#wrapper, #book, .top-page, .content-page, .bottom-page {
		width: 700px;
	}
}


@media screen and (device-aspect-ratio: 1024/768){
	#headerTop{
		font-size: 1.4em;
	}
	.headerRight .simple {
		padding-top: 19px;
		padding-bottom: 19px;		
	}
	.headerRight .middle{
		padding-top: 19px;
		padding-bottom: 19px;
	}
	.headerRight .double {
		padding-top: 14px;
	}

	/*.headerRight .simple {
		padding-top: 8px;
		padding-bottom: 8px;
		border-right: 2px;
	        border-right-style: solid;
	}*/

	/*.headerRight .middle{
		padding-top: 19px;
		padding-bottom: 19px;
		height: 75%;
		border-left-style: solid;
	}*/

}


@media (max-width: 913px){
	.headerRight .double {
		padding-top: 18px;
	}
}

@media (max-width: 768px){
	#headerTop{
		font-size: 1em;
		padding: 0;
	}
	.headerRight .simple {
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.headerRight .middle{
		padding-top: 19px;
		padding-bottom: 19px;
	}
}


@media (max-width: 600px){
	.headerRight {
		height : initial!important;
	}
	.headerRight span {
		width: 100%;
	}
	.headerRight .simple {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.headerRight .middle{
		padding-top: 10px;
		padding-bottom: 10px;
		border-left: none;
		border-right: none;
	}
	.headerRight .double {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.small-xs{
		display: block!important;
		padding: 0;
	}
	.small-xs span{
		padding: 0;
	}
	.small-xs img{
		width: 275px;
	}
	.activity-img{
		display: none;
	}
	.activity-text{
		display: none;
	}
	#dynamicHome {
		margin-top: 70px;
	}
	#home .city{
		padding-bottom: 1.5em;
		padding-top: 8.5em;
	}
	#footerTop span{
		width: 100%;
	}
	#footerMiddle span{
		width: 100%;
	}
	#footerTop .right {
		padding-left: 1em;
		text-align: left;
		margin-left: 0;
	}
	#footerMiddle .right {
		padding-left: 1em;
		text-align: left;
		margin-left: 0;
	}
	#wrapper, #book, .top-page, .content-page, .bottom-page {
		width: 390px;
	}
}

@media (max-width: 430px){
	#footerTop, #footerMiddle{
		font-size: 1.2em;
	}
	.top-spiral, .bottom-spiral {
		display: none;
	}
	#book .presentation {
		margin-left: 0;
	}
	#wrapper, #book, .top-page, .content-page, .bottom-page {
		width: 310px;
	}
}

@media (max-width: 350px){
	#footerBottom{
		font-size: 0.8em;
	}
	#book .presentation {
		margin-left: 0;
	}
	#wrapper, #book, .top-page, .content-page, .bottom-page {
		width: 280px;
	}
}

@media (max-width: 336px){
}
