/*html, body {
	height:100%;
}*/

div {
	text-align:center;
}

.message {
	font-size:21px;
	color:green;
}

/***********************************************
BALISES DE BANDEAU DE CONNEXION / PROPOSITION 
***********************************************/

/*.headband, .headband a {
	font-size:20px;
	width:100%;
	height:20%;
        font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
        color:#999;
	text-align:center;
	margin:auto;
}


.head-profile {
	position:relative;
	width:26%;
	float:left;
	text-align:left;
}


.head-logo {
	position:relative;
	float:right;
	text-align:center;
	width:48%;
}


.head-proposition {
	position:relative;
	width:25%;
	float:right;
	text-align:right;
}*/

/**************************************************
*******  FIN DE BANDEAU / END OF HEADBAND ********
**************************************************/





/***************************************************************************
SECTION POUR LA PAGE ACCUEIL RENNES / SECTION FOR HOME PAGES (Flash Buttons) 
****************************************************************************/
.art, .eat { 
        position:relative;
	float:right;
}

.run, .party {
        position:relative;
	float:left;
}


/***** INSCRIPTION.PHP *****/
/***************************/
.inscription {
        color:#4d944e;
        font:54px "noteworthy";
}


.eventForm {
        position:relative;
	text-align:center;
	height:24%;
	margin-top:10%;
	color:#999;
	width:200%!important;
        line-height:28px;
}

.eventForm #EventWithQueryImg {
	width:80%;
}




/******************************/
/***** ################## *****/

/*Typo*/
@font-face {
    font-family: 'noteworthy';
    src: url('../images/typo/noteworthy.ttc');
    font-weight: normal;
    font-style: normal;
}




/************************************
TEST CALENDAR  -  A reprendre un peu 
*************************************/

div.calendar
{
  font-size: smaller;
  color: #000;
}

div.calendar.popup
{
  margin-left: -40px;
  margin-top: -100px;
}

div.calendar table
{
  background-color: #eee;
  border: 1px solid #aaa;
  border-collapse: collapse;
}

div.calendar thead {
  background-color: white;
}

div.calendar td,
div.calendar th
{
  padding: 3px;
  text-align: center;
}

div.calendar td.title
{
  font-weight: bold;
}

div.calendar th
{
  background: #ddd;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  font-weight: bold;
  color: #555;
}

div.calendar tr.days td {
  width: 2em;
  color: #555;
  text-align: center;
  cursor: pointer;
}

div.calendar tr.days td:hover,
div.calendar td.button:hover
{
  background-color: #34ABFA;
  cursor: pointer;
}

div.calendar tr.days td:active
div.calendar td.button:active
{
  background-color: #cde;
}

div.calendar tr.days td.selected
{
  font-weight: bold;
  background-color: #fff;
  color: #000;
}

div.calendar tr.days td.today
{
  font-weight: bold;
  color: #D50000;
}

div.calendar tr.days td.otherDay
{
  color: #bbb;
}


