/*html, body {
	height:100%;
}*/

div {
	text-align:center;
}

.message {
	font-size:21px;
	color:green;
}

/***********************************************
BALISES DE BANDEAU DE CONNEXION / PROPOSITION 
***********************************************/

/*.headband, .headband a {
	font-size:20px;
	width:100%;
	height:20%;
        font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
        color:#999;
	text-align:center;
	margin:auto;
}


.head-profile {
	position:relative;
	width:26%;
	float:left;
	text-align:left;
}


.head-logo {
	position:relative;
	float:right;
	text-align:center;
	width:48%;
}


.head-proposition {
	position:relative;
	width:25%;
	float:right;
	text-align:right;
}*/

/**************************************************
*******  FIN DE BANDEAU / END OF HEADBAND ********
**************************************************/





/***************************************************************************
SECTION POUR LA PAGE ACCUEIL RENNES / SECTION FOR HOME PAGES (Flash Buttons) 
****************************************************************************/
.art, .eat { 
        position:relative;
	float:right;
}

.run, .party {
        position:relative;
	float:left;
}
/**********************************
FIN DE SECTION ACCUEIL
**********************************/




/******************************************************************************************************************************************************************
BALISES DE CONTENU / CONTENT CLASSES (content-connection : connexion, inscription, forgotpass.. ),  (content-small : for home, profil.. ), (content : list & event)
*******************************************************************************************************************************************************************/

/*.content-connection {
	width:55%;
	height:70%;
	margin:auto;
}*/

.profile-content {
	padding-left: 8%;
	padding-top: 4%;
	width:96%;
	height:80%;
}

/* CONTENT */
/*.content {
	width:140%;
	height:100%;
	margin:auto;
}*/


.list-header {
	padding-top: 3%;
	height: 42%;
}

.list-titles {
	width: 25%;
	font-size: 16px;
	margin:auto;
	float:center;
}

.list-content-head {
	margin:auto;
	float:center;
	width:78%;
}


.list-sort {
	width: 30%;
	float: right;
	text-align:left;
}


.list-lang {
	width: 28%;
	float: left;
	text-align:left;
}


/***** list.php *****/
.list-content {
	width: 90%;
	height: 100%;
	margin:auto;
	float:center;
	padding-top: 2%;
}


.middle-left {
	float:left;
	width: 50%;
	height: 100%;
}	

.middle-right {
	float:right;
	width: 50%;
	height: 100%;
}	


.list-content-left {
	background-image: url("../images/papier.png");
	background-repeat:no-repeat;
	background-size: 100% 100%;
	background-attachment:local;
	float:left;
	height:100%;
	width:80%;
}

.list-content-right {
	background-image: url("../images/papier.png");
        background-repeat:no-repeat;
	background-size: 100% 100%;
        background-attachment:local;
	float:right;
        height:100%;
        width:80%;
}

.list-content-img-left {
	width: 60%;
	margin:auto;
	padding-bottom: 5.5%;
	font:28px "noteworthy";
	color:#d9523b;
}

.list-content-img-right {
	width: 60%;
	margin:auto;
	padding-bottom: 6%;
	font:28px "noteworthy";
	color:#2b5f92;
}

/*.list-content-img-right img {
	position:relative;
	display:inline-block;
}*/


/* IMAGES ET TITRES DE CONTENU RENNES.PHP */
/* RENNES.PHP */


/*.nomville{
        font-size:30px;
	height:20%;
}

.nomville a:link, a:hover, a:focus, a:active{
        text-decoration:none;
}*/


/* FIN RENNES.PHP */





/**************************************
HEADER FOR SECTIONS LIST.PHP, PROFIL.PHP, ETC...
***************************************/


.profile-head {
	padding-top: 7%;
	text-align:left;
}

.head-links {
	text-align: left;
	padding-left: 10%;
}


/* FIN DE SOUS-SECTION IMAGES */





/*** Left table ***/
.list-content-left table {
	margin: auto;
	width:96%;
	font-size:14px;
	border-spacing:2px;
	text-align:left;
	margin-left: 2.5%;
}


.list-content-left th {
	font-size:16px;
	text-decoration: underline;
}

.list-content-left td {
	font-size:15px;
	padding-top: 3%;
}


/*** Right table ***/
.list-content-right table {
	margin: auto;
	width:96%;
	font-size:14px;
	border-spacing:2px;
	text-align:left;
	margin-left: 2.5%;
}
.list-content-right th {
	font-size:16px;
	text-decoration: underline;
}

.list-content-right td {
	font-size:15px;
	padding-top: 3%;
}


/***** INSCRIPTION.PHP *****/
/***************************/
.inscription {
        color:#4d944e;
        font:54px "noteworthy";
}


/* old class: .form*/
/*.inscriptionForm {
        position:relative;
	text-align:center;
	height:90%;
	margin-top:10%;
	color:#999;
	width:86%;
        line-height:28px;
}*/


.eventForm {
        position:relative;
	text-align:center;
	height:55%;
	margin-top:10%;
	color:#999;
	width:105%;
        line-height:28px;
}

.eventForm .logo {
	width:45%;
	/*height:95%;*/
}

/**************************************
SPECIFIQUE POUR LA PAGE PROFIL 
***************************************/
.idhead {
	font:30px "noteworthy";
        color:#d9523b;
}


.idlang {
	float:right;
	padding-top: 5%;
	text-align:left;
	width:24%;
}


.idcontent {
	background-image: url('../images/identity_card.png');
	background-size: 84% 100%;
	background-repeat: no-repeat;
	width: 70%;
	height: 88%;
	font-size:18px;
}


.idpicture {
	width: 20%;
	padding-top: 3%;
	float: left; 
}


.idinfos table {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-style: italic;
        color:#999;
	width: 70%;
	height: 43%;
	margin-top: 23%;
	margin-left: -26%;
	float: left;
	font-size:15px;
}

.idinfos th {
	width:24%;
}

.idinfos td {
	width:10%;
	border-bottom: solid SteelBlue 0.2px;
}

.idinfos td, .idinfos a {
	color: DimGray;
}

.idinfos a:hover {
	color: SteelBlue;
}

.idinfos a:visited, .idinfos a:active {
	color: DarkGray;
}

.idnumber {
	float:left;
	padding-top: 5%;
}


/******************************/
/***** ################## *****/

/*Typo*/
@font-face {
    font-family: 'noteworthy';
    src: url('../images/typo/noteworthy.ttc');
    font-weight: normal;
    font-style: normal;
}

/************************************
TEST CALENDAR  -  A reprendre un peu 
*************************************/

div.calendar
{
  font-size: smaller;
  color: #000;
}

div.calendar.popup
{
  margin-left: -40px;
  margin-top: -100px;
}

div.calendar table
{
  background-color: #eee;
  border: 1px solid #aaa;
  border-collapse: collapse;
}

div.calendar thead {
  background-color: white;
}

div.calendar td,
div.calendar th
{
  padding: 3px;
  text-align: center;
}

div.calendar td.title
{
  font-weight: bold;
}

div.calendar th
{
  background: #ddd;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  font-weight: bold;
  color: #555;
}

div.calendar tr.days td {
  width: 2em;
  color: #555;
  text-align: center;
  cursor: pointer;
}

div.calendar tr.days td:hover,
div.calendar td.button:hover
{
  background-color: #34ABFA;
  cursor: pointer;
}

div.calendar tr.days td:active
div.calendar td.button:active
{
  background-color: #cde;
}

div.calendar tr.days td.selected
{
  font-weight: bold;
  background-color: #fff;
  color: #000;
}

div.calendar tr.days td.today
{
  font-weight: bold;
  color: #D50000;
}

div.calendar tr.days td.otherDay
{
  color: #bbb;
}


