/************************************/
/******* Generic Css Classes ********/
/************************************/
/******* Sourced for every page *****/
/************************************/


/*Typo*/
@font-face {
    font-family: 'noteworthy';
    src: url('../fonts/typo/noteworthy.ttc');
    font-weight: normal;
    font-style: normal;
}

body {
	background:url(../images/backgrounds/bg_lowcontrast.png) repeat scroll 0 0;
  font-family: 'noteworthy';
}

body a {
  color:#4573E3;
  font-weight: bold;
}

body a:hover {
  text-decoration: underline;
}

.btn {
  
}

.glyphicon-search {
    font-size: 1.5em; // slightly bigger
}

.navbar-nav {
  margin-top:-0.5%;
}

.nav-tabs a {
  color:#4D7BA8;
  font-size: 15pt;
}


/***** Specific properties for multiple pages *****/
.activities {
	font-size: 14pt;
	color: #576CAA;
}

/***** FOOTER *****/
footer {
  height: 20%;
  font-size: 14pt;
  margin:auto;
  /*color: #558df3;*/
  color: #16599C;
  font-weight:lighter;
  /*background-color: #bce5f5;*/
}

.foot-bar {
  height: 34%;
  margin-left: 2%;
  margin-right: 2%;
  /*background-color: dimgray;*/
  background-color:rgb(34,80,138);
  border-radius: 15px;
  color: white;
}

.foot-link {
  height: 32%;
}

footer a {
  color:rgb(34,81,132);
}
