/**************************/
/******** CSS HOME ********/


/**** HOME ****/
header {
  height:42%;
  font-size: 20pt;
}

.corpse {
  margin-left: 4%;
  margin-right: 4%;
}

.corpse a {
  color:rgb(34,78,126);
}

/*#course-message {
        font-size: 15px;
        text-shadow: 0 -0px 0 rgba(0, 0, 0, 0. 50);
        color: #18838C;
}*/

.city-block {
  height:24%;
}

.promote-block {
  height:10%;
	color: #16599C;
  font-style: oblique;
}
